node_modules/
.next/
.vercel/
.env*
!.env.example
.DS_Store
dist/
.wrangler/
.pnpm-store/
.openai/*
!.openai/hosting.json
build/*
!build/sites-vite-plugin.ts
worker/*
!worker/index.ts
examples/
drizzle/
db/
!vite.config.ts
drizzle.config.ts
pnpm-workspace.yaml
.vercel
